#!/usr/bin/env bash

# This directory for store data, e.g. cert files
KARMADA_DIR="${HOME}/.karmada"

# the kubeconfig path for karmada
KARMADA_KUBECONFIG="${KARMADA_DIR}/karmada-apiserver.config"

# where is the binaries placed
BIN_DIR="${HOME}/bin"

# log directory
LOG_DIR="${KARMADA_DIR}/logs"

# ports definitions
ETCD_PORT=2379
ETCD_PEER_PORT=2380
KARMADA_APISERVER_SECURE_PORT=5443
KARMADA_AGGREGATED_APISERVER_SECURE_PORT=6443
KARMADA_SEARCH_SECURE_PORT=7443
KARMADA_WEBHOOK_SECURE_PORT=8443
KARMADA_SCHEDULER_SECURE_PORT=10351
KARMADA_CONTROLLER_MANAGER_SECURE_PORT=10357
