<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.github.karmada-io.karmada-etcd</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{BIN_DIR}}/etcd</string>
        <string>--name=etcd0</string>
        <string>--listen-peer-urls=http://0.0.0.0:{{ETCD_PEER_PORT}}</string>
        <string>--listen-client-urls=https://0.0.0.0:{{ETCD_PORT}}</string>
        <string>--advertise-client-urls=https://localhost:{{ETCD_PORT}}</string>
        <string>--initial-cluster=etcd0=http://localhost:{{ETCD_PEER_PORT}}</string>
        <string>--initial-cluster-state=new</string>
        <string>--cert-file={{KARMADA_DIR}}/karmada.crt</string>
        <string>--client-cert-auth=true</string>
        <string>--key-file={{KARMADA_DIR}}/karmada.key</string>
        <string>--trusted-ca-file={{KARMADA_DIR}}/server-ca.crt</string>
        <string>--data-dir={{KARMADA_DIR}}/etcd</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>{{LOG_DIR}}/etcd.error</string>
    <key>StandardOutPath</key>
    <string>{{LOG_DIR}}/etcd.log</string>
</dict>
</plist>





