<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.github.karmada-io.karmada-descheduler</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{BIN_DIR}}/karmada-descheduler</string>
        <string>--kubeconfig={{KARMADA_KUBECONFIG}}</string>
        <string>--bind-address=0.0.0.0</string>
        <string>--v=4</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>{{LOG_DIR}}/karmada-descheduler.error</string>
    <key>StandardOutPath</key>
    <string>{{LOG_DIR}}/karmada-descheduler.log</string>
</dict>
</plist>