<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.github.karmada-io.karmada-apiserver</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{BIN_DIR}}/kube-apiserver</string>
        <string>--allow-privileged=true</string>
        <string>--authorization-mode=Node,RBAC</string>
        <string>--client-ca-file={{KARMADA_DIR}}/server-ca.crt</string>
        <string>--enable-admission-plugins=NodeRestriction</string>
        <string>--enable-bootstrap-token-auth=true</string>
        <string>--etcd-cafile={{KARMADA_DIR}}/server-ca.crt</string>
        <string>--etcd-certfile={{KARMADA_DIR}}/karmada.crt</string>
        <string>--etcd-keyfile={{KARMADA_DIR}}/karmada.key</string>
        <string>--etcd-servers=https://127.0.0.1:{{ETCD_PORT}}</string>
        <string>--bind-address=0.0.0.0</string>
        <string>--advertise-address=127.0.0.1</string>
        <string>--secure-port={{KARMADA_APISERVER_SECURE_PORT}}</string>
        <string>--kubelet-client-certificate={{KARMADA_DIR}}/karmada.crt</string>
        <string>--kubelet-client-key={{KARMADA_DIR}}/karmada.key</string>
        <string>--kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname</string>
        <string>--disable-admission-plugins=StorageObjectInUseProtection,ServiceAccount</string>
        <string>--runtime-config=</string>
        <string>--service-account-issuer=https://127.0.0.1:{{KARMADA_APISERVER_SECURE_PORT}}</string>
        <string>--service-account-key-file={{KARMADA_DIR}}/karmada.key</string>
        <string>--service-account-signing-key-file={{KARMADA_DIR}}/karmada.key</string>
        <string>--service-cluster-ip-range=10.96.0.0/12</string>
        <string>--proxy-client-cert-file={{KARMADA_DIR}}/front-proxy-client.crt</string>
        <string>--proxy-client-key-file={{KARMADA_DIR}}/front-proxy-client.key</string>
        <string>--requestheader-allowed-names=front-proxy-client</string>
        <string>--requestheader-client-ca-file={{KARMADA_DIR}}/front-proxy-ca.crt</string>
        <string>--requestheader-extra-headers-prefix=X-Remote-Extra-</string>
        <string>--requestheader-group-headers=X-Remote-Group</string>
        <string>--requestheader-username-headers=X-Remote-User</string>
        <string>--tls-cert-file={{KARMADA_DIR}}/karmada.crt</string>
        <string>--tls-private-key-file={{KARMADA_DIR}}/karmada.key</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>{{LOG_DIR}}/karmada-apiserver.error</string>
    <key>StandardOutPath</key>
    <string>{{LOG_DIR}}/karmada-apiserver.log</string>
</dict>
</plist>