<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>com.github.karmada-io.karmada-webhook</string>
        <key>ProgramArguments</key>
        <array>
            <string>{{HOME}}/bin/karmada-webhook</string>
            <string>--kubeconfig={{HOME}}/.karmada/karmada-apiserver.config</string>
            <string>--bind-address=0.0.0.0</string>
            <string>--secure-port=8443</string>
            <string>--metrics-bind-address=0</string>
            <string>--cert-dir=/{{HOME}}/.karmada</string>
            <string>--v=4</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <true/>
        <key>StandardErrorPath</key>
    <string>{{HOME}}/.karmada/logs/karmada-webhook.error</string>
    <key>StandardOutPath</key>
    <string>{{HOME}}/.karmada/logs/karmada-webhook.log</string>
</dict>
</plist>