<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.github.karmada-io.karmada-aggregated-apiserver</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{BIN_DIR}}/karmada-aggregated-apiserver</string>
        <string>--kubeconfig={{KARMADA_KUBECONFIG}}</string>
        <string>--authentication-kubeconfig={{KARMADA_KUBECONFIG}}</string>
        <string>--authorization-kubeconfig={{KARMADA_KUBECONFIG}}</string>
        <string>--etcd-servers=https://127.0.0.1:{{ETCD_PORT}}</string>
        <string>--etcd-cafile={{KARMADA_DIR}}/server-ca.crt</string>
        <string>--etcd-certfile={{KARMADA_DIR}}/karmada.crt</string>
        <string>--etcd-keyfile={{KARMADA_DIR}}/karmada.key</string>
        <string>--tls-cert-file={{KARMADA_DIR}}/karmada.crt</string>
        <string>--tls-private-key-file={{KARMADA_DIR}}/karmada.key</string>
        <string>--secure-port={{KARMADA_AGGREGATED_APISERVER_SECURE_PORT}}</string>
        <string>--audit-log-path=-</string>
        <string>--feature-gates=APIPriorityAndFairness=false</string>
        <string>--audit-log-maxage=0</string>
        <string>--audit-log-maxbackup=0</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>{{LOG_DIR}}/karmada-aggregated-apiserver.error</string>
    <key>StandardOutPath</key>
    <string>{{LOG_DIR}}/karmada-aggregated-apiserver.log</string>
</dict>
</plist>
