<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>com.github.karmada-io.karmada-webhook</string>
        <key>ProgramArguments</key>
        <array>
            <string>{{BIN_DIR}}/karmada-webhook</string>
            <string>--kubeconfig={{KARMADA_KUBECONFIG}}</string>
            <string>--bind-address=0.0.0.0</string>
            <string>--secure-port={{KARMADA_WEBHOOK_SECURE_PORT}}</string>
            <string>--metrics-bind-address=0</string>
            <string>--cert-dir={{KARMADA_DIR}}/</string>
            <string>--tls-cert-file-name=karmada.crt</string>
            <string>--tls-private-key-file-name=karmada.key</string>
            <string>--v=4</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <true/>
        <key>StandardErrorPath</key>
    <string>{{LOG_DIR}}/karmada-webhook.error</string>
    <key>StandardOutPath</key>
    <string>{{LOG_DIR}}/karmada-webhook.log</string>
</dict>
</plist>